	<footer class="footer">
		<div class="container">

			<div class="row top">
				<div class="left">
					<a href="/" class="brand brand--slatplanner">
						<img src="/assets/img/brand/logo.png" alt="">
					</a>
				</div>
				<div class="right">
					<div class="actions call-to-actions">
						<a href="#" class="action cta cta--secondary">Log In</a>
						<a href="#" class="action cta cta--primary">Sign Up</a>
					</div>
				</div>
			</div>

			<div class="row middle">
				<div class="left">

					<div class="links-container">
						<div class="title">Products</div>
						<ul class="links">
							<li><a href="/supplies.html">Supplies</a></li>
							<li><a href="#">PlusDelta</a></li>
							<li><a href="#">TimeTable</a></li>
						</ul>
					</div>

					<div class="links-container">
						<div class="title">ABOUT</div>
						<ul class="links">
							<li><a href="/pricing.html">Pricing</a></li>
							<li><a href="/about-us.html">Team</a></li>
							<li><a href="#">Blog</a></li>
						</ul>
					</div>

					<div class="links-container">
						<div class="title">Support</div>
						<ul class="links">
							<li><a href="/privacy-policy.html">Privacy Policy</a></li>
							<li><a href="/terms-of-service.html">Terms of Service</a></li>
							<li><a href="/request-demo.html">Schedule a Demo</a></li>
						</ul>
					</div>

				</div>
				<div class="right">
					<ul class="social">
						<li><a href="#"><img src="/assets/img/icons/icon--fb.svg" alt="Facebook"></a></li>
						<li><a href="#"><img src="/assets/img/icons/icon--tw.svg" alt="Twitter"></a></li>
						<li><a href="#"><img src="/assets/img/icons/icon--ig.svg" alt="Instagram"></a></li>
						<li><a href="#"><img src="/assets/img/icons/icon--google.svg" alt="Google"></a></li>
						<li><a href="#"><img src="/assets/img/icons/icon--medium.svg" alt="Medium"></a></li>
					</ul>
					<div class="description">
						<p class="p3">The full benefits of digital planning, without sacrificing the physical, collaborative experience.</p>
					</div>
				</div>
			</div>
			<div class="row bottom">
				<div class="left">
					<p class="p4">Copyright © 2018, slatplanner.com</p>
				</div>
				<div class="right">
					
				</div>
			</div>

		</div>
	</footer>