<nav class="nav nav--desktop nav--inverse">
	<div class="left">
		<a href="/" class="brand brand--slatplanner">
			<img src="/assets/img/brand/logo.png" alt="SlatPlanner">
		</a>
	</div>
	<div class="center">
		<ul class="nav-links">
			<li><a href="/why-slatplanner.html">Why SlatPlanner?</a></li>
<!-- 			<li>
				<div class="dropdown dropdown--nav">
					<div class="dropdown-title">Products</div>
					<div class="dropdown-menu">
						<a href="https://plusdelta.app/" class="dropdown-menu__item">
							<div class="icon"><img src="/assets/img/icons/icon--plusdelta.svg" alt=""></div>
							<div class="dropdown-menu__item__meta">
								<h4>PLUSDELTA</h4>
								<p class="p2">Automate and enhance the process of gathering vital feedback from large groups</p>
							</div>
						</a>
						<a href="https://timetable.app/" class="dropdown-menu__item">
							<div class="icon"><img src="/assets/img/icons/icon--timetable.svg" alt=""></div>
							<div class="dropdown-menu__item__meta">
								<h4>TIMETABLE</h4>
								<p class="p2">Take lengthy schedules and arranges them to fit beautifully on a single plotted sheet</p>
							</div>
						</a>
					</div>
				</div>
			</li> -->
			<li><a href="/pricing.html">Pricing</a></li>
			<li><a href="/supplies.html">Supplies</a></li>
<!-- 			<li>
				<div class="dropdown dropdown--nav">
					<div class="dropdown-title">Resources</div>
					<div class="dropdown-menu">
						<a href="/supplies.html" class="dropdown-menu__item">
							<div class="icon"><img src="/assets/img/icons/icon--plusdelta.svg" alt=""></div>
							<div class="dropdown-menu__item__meta">
								<h4>Supplies</h4>
							</div>
						</a>
						<a href="#" class="dropdown-menu__item">
							<div class="icon"><img src="/assets/img/icons/icon--timetable.svg" alt=""></div>
							<div class="dropdown-menu__item__meta">
								<h4>Knowledgebase</h4>
							</div>
						</a>
					</div>
				</div>
			</li> -->
<!-- 			<li><a href="/about-us.html">About Us</a></li> -->
			<li><a href="https://medium.com/slatplanner" target="_blank">Blog</a></li>
			<li><a href="/request-demo.html">Schedule A Demo</a></li>
		</ul>
	</div>
	<div class="right">
		<div class="actions call-to-actions">
			<a href="https://slatplanner.app/sign-in" class="action cta cta--secondary">Log In</a>
			<a href="https://slatplanner.app/sign-up" class="action cta cta--primary">Sign Up</a>
		</div>
	</div>
</nav>

<nav class="nav nav--mobile">

	<!-- Mobile Menu Links-->
	<div class="nav--mobile__menu">
		<div class="top">
			<div class="brand">
				<img src="/assets/img/brand/logo.png" alt="SlatPlanner">
			</div>
			<div class="close-icon" id="b-menu-close">
				<a href="#"><img src="/assets/img/icons/icon--close.svg" alt="Close"></a>
			</div>
		</div>
		<div class="middle">
			<ul class="nav--mobile__menu--links">
				<li class="active-link"><a href="/why-slatplanner.html">Why SlatPlanner?</a></li>
<!-- 				<li class=""><a href="#">Products</a></li> -->
				<li class="active-link"><a href="/pricing.html">Pricing</a></li>
				<li class=""><a href="/supplies.html">Supplies</a></li>
				<li class=""><a href="https://medium.com/slatplanner" target="_blank">Blog</a></li>
				<li class=""><a href="/request-demo.html"><span class="text">Schedule A Demo</span><img src="/assets/img/icons/icon--arrow-next.svg" alt=""></a></li>
			</ul>
		</div>
		<div class="bottom">
			<a href="https://slatplanner.app/sign-in" class="cta--mobile cta--mobile--secondary">Log In</a>
			<a href="https://slatplanner.app/sign-up" class="cta--mobile cta--mobile--primary">Sign Up – It's Free</a>
		</div>
	</div>

	<!-- Mobile Menu Header-->
	<div class="left">
		<a href="/" class="brand brand--slatplanner">
			<img src="/assets/img/brand/logo.png" alt="">
		</a>
	</div>
	<div class="right">
		<div class="actions call-to-actions">
			<a href="https://slatplanner.app/sign-up" class="action cta cta--primary">Sign Up</a>
		</div>
		<div class="burger-menu sub-menu" id="b-menu">
			<svg width="24" height="18" viewBox="0 0 24 18" fill="none" xmlns="http://www.w3.org/2000/svg">
				<rect width="24" height="2" fill="#C4C4C4"/>
				<rect width="24" height="2" transform="translate(0 8)" fill="#C4C4C4"/>
				<rect width="12" height="2" transform="translate(12 16)" fill="#C4C4C4"/>
			</svg>
		</div>
	</div>
</nav>