.hero-intro {
	&--about {
		background: white;
		display: flex;
		flex-direction: column;
		justify-content: center;
		box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2), 0px 5px 15px rgba(57, 71, 107, 0.15);
		border-radius: 2px;
		padding: 20px;
		.body {
			padding-top: 20px;
			border-top: 1px solid rgba($black, 0.15);
			p {
				font-weight: 300;
				line-height: 24px;
				font-size: 14px;
				color: #000000;
				text-align: left;
			}
		}
	}	
}
#about{
}

.section--team {
	overflow-x: hidden;
	&:after {
		content: '';
		display: block;
		background: linear-gradient(0deg, #F6F9FC, #F6F9FC), linear-gradient(103.77deg, #E3E5FF 2.14%, #EFF9FF 97.38%);
		transform: skewY(-12deg);
		transform-origin: 0;
		position: absolute;
		z-index: -1;
		height: 160%;
		top: 150%;
		left: 0%;
		width: 140%;
		overflow: hidden;
		max-width: 100%;
	}
	h2 {
		padding-bottom: 20px;
		border-bottom: 1px solid rgba($black, 0.15);
		margin-bottom: 60px;
	}
	@include respond-to('medium') {
		&:after {
			top: 130%;
			height: 110%;
		}
		h2 {
			padding-bottom: 40px;
		}
	}
}
#about {
}
.section--cta {
	a {
		color: $white;
		background: $black;
		border-color: $black;
		letter-spacing: 0.02em;
	} 
}
.player {
	margin-bottom: 40px;
	.player-body {
		position: relative;

	}
	.metadata {
		width: 90%;
		padding: 15px;
		background: white;
		position: relative;
		display: flex;
		flex-direction: column;
		top: -28px;
		left: 10px;
		box-shadow: 0px 16px 20px rgba(0, 0, 0, 0.05);
		.name {
			font-family: $header-fonts;
			font-style: normal;
			font-weight: normal;
			font-size: 16px;
			text-transform: uppercase;
			letter-spacing: 0.01em;
			margin-bottom: 5px;
		}
		.role {
			font-weight: normal;
			font-size: 12px;
			color: #000000;
			opacity: 0.7;
		}
	}
	@include respond-to('medium') {
		.metadata {
			width: 80%;
			top: -60px;
			left: 20px;
			padding: 15px 20px;
			.name {
				line-height: 38px;
				font-size: 24px;
				color: #000000;
				margin-bottom: 10px;
			}
			.role {
				line-height: 29px;
				font-size: 14px;
				color: #000000;
				opacity: 0.7;
			}
		}
	}
}