.privacy-policy-page {
	padding-top: 100px;
	
	h1,h2,h3,h4,p {
		max-width: initial;
	}
	h4 {
		margin-bottom: 15px;
	}
	p {
		margin-bottom: 30px;
	}
	ol, ol li { 
	   list-style-type: decimal; 
	   list-style-position: inside; 
	   color: $black--light;
	}
	ol {
		margin-bottom: 30px;
	}
	li {
		margin-bottom: 10px;
	}
	.privacy-policy--header {
		margin-bottom: 60px;
	}
	p.list-head {
		margin-bottom: 10px;
	}
	p.address {
		font-weight: normal;
		line-height: 30px;
		font-size: 18px;
	}
	.privacy-section {
		margin-bottom: 60px;
	}
	@include respond-to('medium') {
		padding-top: 200px;
	}

}