header {
	height: 80%;
	min-height: 700px;
	width: 100%;
	background: $black;
	max-width: 100%;
	background: $black;
	overflow: hidden;
	overflow-x: hidden;
}

.header {
	&--sub-page {
		height: 640px;
		padding-top: 100px;
	}
	&--sub-page {
		background: linear-gradient(278.6deg, #00171F 12.39%, #180040 100%);
		transform: skewY(-8deg);
		transform-origin: 0;
		.container {
			transform: skewY(8deg);
			transform-origin: 0;
		}
		#hero {
			background: none;
			&:after {
				content: '';
				height: 100%;
				width: 100%;
				position: absolute;
				z-index: -1;
				bottom: -0px;
				transform: skewY(5deg);
				transform-origin: 0;
				right: 0px;
				overflow: hidden;
				background: url('/assets/img/header--sub-bg.png') no-repeat;
				background-position: bottom right;
				background-size: cover;
			}
		}
	}
}