button {
	border: none;
	transition: all 0.4s ease;
	&:hover {
		cursor: pointer;
		transition: all 0.4s ease;
	}
}
a {
	display: inline-block;
	text-transform: uppercase;
	overflow: hidden;
	transition: all 0.2s ease;
	&:hover {
		cursor: pointer;
		transition: all 0.2s ease;
	}
}
a.cta {
	font-family: $header-fonts;
	color: white;
	background: $brand-primary;
	text-transform: uppercase;
	padding: 20px 40px;
	&--primary {
		border: 1px solid $brand-primary;
		position: relative;
		display: inline-block;
		overflow: hidden;
		z-index: 2;
		overflow: hidden;
		&:after {
			content: '';
			@include absolute(0,0,0,0);
			background-color: $black;
			transform: translateX(-98%);
			z-index: -1;
			transition: 0.5s ease-in-out;
			}
			&:hover {
			color: $white;
			transition: all 0.2s ease;
			&:after {
			  transform: translateX(0);
			 transition: 0.5s ease-in-out;
			}
		}
	}
	&--secondary {
		background: transparent;
		color: $white;
		border: 1px solid $white;
		position: relative;
		display: inline-block;
		overflow: hidden;
		z-index: 2;
		overflow: hidden;
		&:after {
			content: '';
			@include absolute(0,0,0,0);
			background-color: $white;
			transform: translateX(-101%);
			z-index: -1;
			transition: 0.5s ease-in-out;
			}
			&:hover {
			color: $black;
			transition: all 0.2s ease;
			&:after {
			  transform: translateX(0);
			 transition: 0.5s ease-in-out;
			}
		}
		&--inverse {
			border-color: $black;
			color: $black;
		}
	}
	&--dark, .shopify-buy__btn {
		border: 1px solid $black;
		position: relative;
		display: inline-block;
		overflow: hidden;
		z-index: 2;
		overflow: hidden;
		&:after {
			content: '';
			@include absolute(0,0,0,0);
			background-color: $white;
			transform: translateX(-101%);
			z-index: -1;
			transition: 0.5s ease-in-out;
			}
			&:hover {
			color: $black;
			border-color: $white;
			transition: all 0.2s ease;
			&:after {
			  transform: translateX(0);
			 transition: 0.5s ease-in-out;
			}
		}
	}
	&--features {
		position: relative;
		display: inline-block;
		overflow: hidden;
		z-index: 2;
		overflow: hidden;
		&:after {
			content: '';
			@include absolute(0,0,0,0);
			background-color: $black;
			transform: translateX(-98%);
			z-index: -1;
			transition: 0.5s ease-in-out;
			}
			&:hover {
			color: $white;
			transition: all 0.2s ease;
			&:after {
			  transform: translateX(0);
			 transition: 0.5s ease-in-out;
			}
		}
	}
	&--mobile {
		display: flex;
		width: 100%;
		flex-direction: row;
		align-items: center;
		justify-content: center;
		width: 100%;
		padding: 20px;
		line-height: normal;
		font-size: 20px;
		letter-spacing: 0.05em;
		&--primary {
			background: $brand-primary;
		}
		&--secondary {
			border-top: 1px solid rgba(white, 0.15);
		}
	}
}

.call-to-actions {
	a {
		padding-top: 10px;
		padding-bottom: 10px;
		margin-right: 10px;
		padding: 10px 25px;
		letter-spacing: 0.02em;
		&:last-of-type {
			margin-right: 0;
		}
	}
	.cta--primary {
		background: $brand-primary;
		color: $white;
		border-color: $brand-primary;
	}
}