nav {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	padding: 20px 40px;
	ul {
		display: flex;
		align-items: center;
		margin: 0;
	}
	a {
		color: white;
		font-size: 14px;
		letter-spacing: 0.05em;
	}
	.left {
		display: flex;
		flex: 1;
		.brand {
			display: block;
			max-height: 40px;
			width: 200px;
			img {
				width: 100%;
				object-fit: cover;
			}
		}
	}
	.right{
		display: flex;
		flex: 1;
		justify-content: flex-end;
	}
	.center {
		display: flex;
		justify-content: center;
		flex: 3;
		ul {
			li {
				margin-right: 20px;
				&:last-of-type {
					margin-right: 0;
				}
			}
		}
	}
}

.nav {
	&--mobile {
		display: flex;
		padding: 20px;
		.brand {
			max-width: 150px;
		}
		.right {
			align-items: center;
		}
		.actions {
			a {
				max-height: 30px;
				display: flex;
				padding: 0;
				justify-content: center;
				align-items: center;
				width: 80px;
				height: 30px;
			}
		}
		.sub-menu {
			margin-left: 20px;
		}
	}
	&--desktop {
		display: none;
	}
	@include respond-to('medium') {
		&--mobile {
			display: none;
		}
		&--desktop {
			display: flex;
		}
	}
}