<meta name="description" content="Slatplanner -  Yield the full benefits of digital planning, without sacrificing the physical, collaborative experience." />

<meta name="keywords" content="slatplaner, planning, optimize, management, project, team, project management, resources, construction, collaboration " />

<meta name="author" content="Carv" />
    <!--[if IE]><link rel="shortcut icon" href="/assets/favicon.png"><![endif]-->
    <link rel="icon" href="assets/img/favicon.png" type="image/png">
    <!-- Schema.org markup for Google+ -->
    <meta itemprop="name" content="SlatPlanner">
    <meta itemprop="description" content="SlatPlanner - Yield the full benefits of digital planning, without sacrificing the physical, collaborative experience.">
    <meta itemprop="image" content="/assets/img/social.png">

<!-- Twitter Card data -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@slatplanner">
    <meta name="twitter:title" content="SlatPlanner: The Team and Project Pipeline Optimizer">
    <meta name="twitter:description" content="SlatPlanner - Yield the full benefits of digital planning, without sacrificing the physical, collaborative experience.">
    <meta name="twitter:creator" content="@slatplanner">

<!-- Twitter summary card with large image must be at least 280x150px -->
    <meta name="twitter:image:src" content="/assets/img/social.png">

<!-- Open Graph data -->
    <meta property="og:title" content="SlatPlanner: Yield the full benefits of digital planning, without sacrificing the physical, collaborative experience." />
    <meta property="og:type" content="Website" />
    <meta property="og:url" content="http://www.slatplanner.com/" />
    <meta property="og:image" content="/assets/img/social.png" />
    <meta property="og:description" content="SlatPlanner -Yield the full benefits of digital planning, without sacrificing the physical, collaborative experience." />
    <meta property="og:site_name" content="SlatPlanner" />
